.conteiner {
  margin: 0 auto;
}

.textarea {
  border: 1px double black;
  height: 100px;
  margin: 0 auto;
  display: block;
  font-size: 18px;
  color: #444444;
  margin: 10px auto;
  width: 704px;
}

.title {
  margin: 0 auto;
  text-align: center;
  font-size: 30px;
}

.keyboard {
  height: 230px;
  width: 704px;
  margin: 0 auto;
  padding: 5px;
  padding-left: 0;
  padding-bottom: 0;
  background: #888888;
  border: 3px solid #222222;
  border-radius: 5px;
}

.key{
  float: left;
  width: 40px;
  height: 40px;
  margin-left: 6px;
  margin-bottom: 6px;
  font-weight: 500;
  line-height: 40px;
  text-align: center;
  color: #ffffff;
  background: #444444;
  border-radius: 3px;
  cursor: pointer;
  user-select: none;
  transition: border-radius 0.3s, background-color 0.3s;
}

.Backspace,
.ShiftLeft {
  width: 100px;
}

.Tab {
  width: 50px;
}

.CaseDown {
  width: 100px;
}

.CapsLock {
  width: 100px;
}

.Enter,
.ShiftRight {
  width: 86px
}

.Space{
  width: 330px;
}